<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'info.css' %}" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="{% url 'project' %}">Portfolio</a>
            <a href="#blog">Blog</a>
            <a href="#contact">Contact</a>
        </nav>
        <h1>안녕하세요, 이상현입니다.</h1>
        <img src="{% static 'img/sanghyun.jpg' %}" alt="Project Image" class="mypic" />
        <p class="title">대학원 다니고 있습니다.</p>
        <a href="{% url 'project' %}">View My Projects</a>
    </body>
</html>
